{% extends 'layout.html' %}
{% block content %}
{% from 'macros.html' import render_field %}

        <section>
            <div class="container">
                <div class="new-entry">
                    <h2>New Entry</h2>

                    <form method="POST" action ="" class="form">
                        {{ form.hidden_tag() }}
                        {% for field in form if field.id !="csrf_token" %}
                            {{ render_field(field) }}
                        {% endfor %}
                        <button type="submit" name="submit">Post!</button>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}